// Place all the styles related to the Say controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px;
}

.anchor_class {
  font-family: "Comic Sans MS";
  text-decoration: underline;
}

.anchor_class:hover {
  font-family: "Source Code Pro", Monaco, monospace;
}

.fun-times {
  padding: 50px;
  font-size: 24px;
  color: cornflowerblue;
  font-family: "Source Code Pro", Monaco, monospace;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #2E2F30;
  height: 100%;
  width: 50%;
}

.fun-times:hover{
  background-color: #ffbe35;
}

.author {
  display: none;
}

.fun-times:hover .author{
  display: block;
}

@media only screen and (max-width: 768px) {
  div {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  div {
    font-size: 12px;
  }
}